.venv/
.qodo

# データ関連
dept_classi/classi_QC/
communications/
test/
dept_classi/input_data/
dept_classi/input_data_alljapan/
pop_meshdata
data/
models/grid_with_features.gpkg
models/grid_with_poi_counts.gpkg